<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %} {% endblock %}
		</title>
		
	
	</head>

	<body class="layout">
		{% block body %}<!-- Code here the main content -->{% endblock %}
		
	</body>

</html>
