{% extends 'users.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<div class="grix xs4 container">
    <div class="col-xs4">
        <h1>Modification du mot de passe</h1>
        {% for message in app.flashes('error') %}
        <div class="col-xs4">
            <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
        </div>
    {% endfor %}
        <form action="" method="post">
            <div class="form-field">
                <label for="pass"> Mot de passe</label>
                <input type="password" id="pass" name="pass"class="form-control">
            </div>
            <div name="pass"class="form-field">
                <label for="pass2"> Confirmer le mot de passe</label>
                <input type="password" id="pass2" name="pass2"class="form-control">
            </div>
            <button class="btn shadow-1 rounded-1 blue">Valider</button>
        </form>
    </div>
	
	
</div>

{% endblock %}
